@charset "UTF-8";

*{
    
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right , #39803A , #578A3F);
}
main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
     border-radius: 10px;
    box-shadow: 5px 5px 15px #172c0d;
}

h1{
  color: #617339;
  text-align: center;
  text-shadow: 1px 1px 2px #3c4723;
}
h2{
 color:#8B893E ;
}

p{
    text-align: justify;


}

